{% extends 'Base.twig' %}

{% block title %}Chyba | {{ error_code is defined ? error_code : 'Neznámá chyba' }}{% endblock %}

{% block content %}
    <div class="p-5 mb-4 bg-danger text-white rounded-3">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-1 fw-bold">
                {% if error_code is defined %}
                    {{ error_code }}
                {% else %}
                    Chyba
                {% endif %}
            </h1>
            <span class="fs-3">
                {% if error_message is defined %}
                    <span class="text-break">Message: {{ error_message }}</span> <br>
                    {% if error_file and error_line is defined %}
                    <span class="text-break">File: {{ error_file }}</span> <br>
                    <span class="text-break">Line: {{ error_line }}</span> <br>
                    {% endif %}
                {% else %}
                    Omlouváme se, došlo k chybě.
                {% endif %}
            </span>
            <a href="/" class="btn btn-light btn-lg mt-3">
                Zpět na Homepage
            </a>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-12">
            <h2 class="py-3">Co můžete dělat dál?</h2>
        </div>
    </div>

    <div class="row justify-content-center mb-3 text-center">
        <div class="col">
            <div class="card h-100 mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Domovská stránka</h4>
                </div>
                <div class="card-body d-flex flex-column justify-content-between">
                    <p>Vraťte se na hlavní stránku a zkuste se navigovat znovu.</p>
                    <a href="/" class="btn btn-primary mt-auto">Přejít</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Obnovit stránku</h4>
                </div>
                <div class="card-body d-flex flex-column justify-content-between">
                    <p>Někdy pomůže prosté obnovení (refresh) stránky.</p>
                    <button class="btn btn-primary mt-auto" onclick="window.location.reload();">Obnovit</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Kontakt</h4>
                </div>
                <div class="card-body d-flex flex-column justify-content-between">
                    <p>Pokud chyba přetrvává, kontaktujte správce webu.</p>
                    <a href="/contact" class="btn btn-primary mt-auto">Kontaktovat</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}